@use '../custom'as*;

.site-header {
  nav {

    a {
      color: $white;
      text-decoration: none;
      position: relative;

      &:hover {
        color: $white !important;
        font-weight: 500;
        border-bottom: 0.15rem solid $white;
      }

      img {
        width: 1.5rem;

        @include media-breakpoint-down(sm) {
          text-align: center;
          left: 50%;
        }
      }

    }

    .active {
      color: $white !important;
      border-bottom: 0.15rem solid $white;
    }
  }
}

.navbar-toggler {
  color: $white !important;
}