@use '../custom'as*;
@use '../mixins'as *;

#right-photo-card,
#left-photo-card {
  margin-bottom: 1.25rem;

  &__content {
    @include list-style;

    @include media-breakpoint-down(lg) {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      width: 400px;
      margin: 0 auto;
    }
  }

  &__image {
    text-align: center;

    img {
      width: 35rem;
      height: 30rem;

      @include media-breakpoint-down(lg) {
        width: 25rem;
        height: 20rem;
      }
    }
  }
}