@use '../custom'as*;
@use '../mixins'as *;

#right-photo-card,
#left-photo-card {
  &__content {
    margin-top: 5rem;
    @include list-style;
  }

  &__image {
    text-align: center;

    img {
      padding: 4rem 0;
      width: 30rem;
      height: 30rem;
    }
  }
}