@use '../custom'as *;
@use '../mixins'as *;

#edgar-description {
  background: $primary;
  align-content: center;

  &__image {
    img {
      width: 25rem;
      animation: rotation 25s infinite linear;

      @include media-breakpoint-down(lg) {
        text-align: center;
        width: 20rem;
      }

      @include rotate;
    }
  }

  &__contents {
    padding: 5rem;
  }
}